doctype html
html(lang='en')
   head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
      meta(name='description', content='')
      meta(name='author', content='')
      link(rel='icon', href='../../../../favicon.ico')
      title Admin - AlgoriTeam Online Auction
      // Bootstrap core CSS
      link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
   body
      nav.navbar.navbar-dark.text-white.bg-dark.site-header.sticky-top.py-1
         .container
            a.nav-link.text-white(href='/')
            b Online Auction Dashboard
            a.nav-link.btn-success(href='/add') Add Asset
            a.nav-link.text-white(href='#') Log Out
      .container
      h1 Dashboard
      .row.d-md-flex.flex-md-equal.my-md-3.pl-md-3
         .col.card
         table.table#assets
            thead
               tr
                  th Lot area (sq.m.)
                  th Floor area (sq.m.)
                  th Address
                  th Year acquired
                  th Condition
                  th Price (PHP)
                  th Actions
            tbody
               tr(v-for="hx in houseandlot")
                  td {{ hx.la }} 
                  td {{ hx.fa }} 
                  td {{ hx.address }} 
                  td {{ hx.year_ac }}
                  td {{ hx.cond }}
                  td {{ hx.price }}
                  td
                     button.btn-primary(v-on:click="editHnl(hx)") Edit
                     button.btn-outline-danger(v-on:click="delHnl(hx)") Delete
      footer.container.py-5

   // JavaScript
   // ==================================================
   // Load Bootstrap
   script(src='https://code.jquery.com/jquery-3.3.1.min.js')
   script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
   script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
   // Load Axios
   script(src="https://unpkg.com/axios/dist/axios.min.js")
   // Load Vue.js 
   script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
   // Load our Vue component
   script(type="text/javascript" src="/read.js")